.MuiPaginationItem-root,
.MuiButtonBase-root-MuiPaginationItem-root,
.MuiButtonBase-root-MuiPaginationItem-root {
    color: #fff !important;
}

.MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.Mui-selected,
.Mui-selected:hover {
    background-color: #ffc106 !important;
    color: black !important;
    font-weight: 700 !important;
}
