#pagination.MuiPagination-root {
    background-color: #212529;
}

.MuiPaginationItem-root {
    color: #fff !important;
}

.MuiPaginationItem-root.Mui-selected,
.MuiPaginationItem-root.Mui-selected:hover{
    background-color: #ffc106 !important;
    color: black !important;
    font-weight: 700 !important;
}

.MuiPaginationItem-root:hover {
    background-color: #343a40;
}

.MuiPaginationItem-root:focus-visible {
  outline: 2px solid #ffc106;
  outline-offset: 2px;
}
