@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(../src/assets/img/space.webp), no-repeat; */
  background: url(../src/assets/img/stars.webp), no-repeat;
  background-size: cover;
}

* {
  color: #fff;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif !important;
  font-weight: 700;
}

ul,
li {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
